@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// ### Primary
$Red: hsl(0, 100%, 74%); 
$Green: hsl(154, 59%, 51%);

//### Accent
$Blue: hsl(248, 32%, 49%);

//### Neutral
$Dark-Blue: hsl(249, 10%, 26%);
$Grayish-Blue: hsl(246, 25%, 77%);
$boxShadow: 0 7px 2px 0px rgba(0, 0, 0, 0.144);

*{
  box-sizing: border-box;
}

body {
  //Weights: 400, 500, 600, 700
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

@mixin centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}