@import "variables";

// MOBILE RESOLUTION

#root {
	@include centered-flex;
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: 87px 0 70px;
	background: url("../images/bg-intro-mobile.png") $Red no-repeat;
}

// APP COMPONENT
#main-container {
	width: 100%;
	min-width: 320px;
	max-width: 1100px;
}

#main-text {
	color: white;
	text-align: center;
	margin-bottom: 70px;

	#main-heading {
		font-size: 1.9rem;
		font-weight: 700;
		padding-bottom: 10px;
	}
	p {
		font-size: 1.15rem;
	}
}

// BANNER COMPONENT
#banner-container {
	text-align: center;
	background-color: $Blue;
	box-shadow: $boxShadow;
	border-radius: 7px;
	padding: 18px 0;
	margin-bottom: 20px;

	.banner-text {
		font-weight: 400;
		color: white;
		margin: 0;
		padding: 0 80px;
	}
}

// FORM COMPONENT
#form-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: white;
	box-shadow: $boxShadow;
	border-radius: 7px;
	padding: 30px;
	row-gap: 15px;

	* {
		width: 100%;
		transition: all 0.3s;
		border-radius: 5px;
	}
	.form-imput {
		font-size: 0.92rem;
		color: $Dark-Blue;
		padding: 15px;
		font-weight: 700;
		border: 1px solid $Grayish-Blue;
		outline: none;

		&:focus {
			border: 1px solid black;
		}
	}
	#button {
		color: white;
		font-weight: 600;
		border: none;
		background-color: $Green;
		padding: 12px 0;
		box-shadow: 0 4px 1px 0px hsl(154, 57%, 35%);

		&:active {
			box-shadow: none;
			transform: translateY(5px);
		}
	}
	#disclaimer {
		font-size: 0.85rem;
		margin: auto;
		width: 100%;
		padding: 0 10px;
		color: $Grayish-Blue;

		strong {
			cursor: pointer;
			color: $Red;
		}
	}
}

footer {
	position: absolute;
	text-align: center;
	font-weight: 700;
	bottom: 2px;
}

//Tablet/Desktop RESOLUTION
@media screen and (min-width: 768px) {
	#root {
		background-image: url(../images/bg-intro-desktop.png);
		background-size: cover;
		padding: 50px 0;
		@media (min-width: 1024px) {
			padding: 50px 10.5vw;
		}
	}

	// APP COMPONENT
	#main-text {
		margin-bottom: 0;
		margin-top: 20px;
		@media (min-width: 1024px) {
			text-align: left;
		}

		#main-heading {
			font-size: 3.8vw;
		}
		p {
			font-size: 1.1rem;
		}
	}

	#button:hover {
		background-color: hsl(154, 57%, 50%) !important;
		font-size: 1.03rem;
	}

	// FORM COMPONENT
	#form-section {
		max-width: 530px;

		#form-container {
			.form-imput {
				padding: 15px 30px;
			}
		}
	}
}
